#wrapper{
    padding-bottom: 10rem;
    margin-top: 10rem;
    background-color: transparent;
    height: 900;
   
}
#aboutUsBackground{
    background-color: rgba(119, 136, 153, 0.479);
    height: 900;
    padding-top: 8rem;
    
  
}
#logoId{
    height:100rem;
    background-attachment: fixed;
    background-size:35%; 
    background-repeat:no-repeat;
    background-position-y: 10rem;
}
#backgroundImage{
    background-attachment: fixed;


}