#navbar{
    background-color: sandybrown;
    padding: 3rem;
    
}
#navbar a{
    color:white;
font-size: 3rem;

}
#navbar a p{
    color:white;
font-size: 2rem;

}
#navbar a:active{
    color:black;
font-size: 3rem;

}




/* .MenuItem{
    color:black !important;
} */
/* NavDropdown MenuItem{
    color:black;
} */